sample_flows.json
[{"id":"ee8a06d2.578978","type":"tab","label":"iota15","disabled":false,"info":""},{"id":"c8ad1ba0.5ba5a8","type":"iotainfo","z":"ee8a06d2.578978","iotaNode":"5b30adc3.aabc54","iotaValue":"RHVGKQBYOJLCJQYZEVLN9HL99AAAFKPJTGAD9CFCYCBZNBBOWPQLNJMZCEE9OKYFPLZNJPBDLBQZEMWOX","iotaSelect":"info","name":"nodeinfo","x":300,"y":40,"wires":[["f97854c9.3a9328"]]},{"id":"554f0450.6f4e8c","type":"inject","z":"ee8a06d2.578978","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":40,"wires":[["c8ad1ba0.5ba5a8"]]},{"id":"f97854c9.3a9328","type":"debug","z":"ee8a06d2.578978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]},{"id":"f7084666.bc9e28","type":"iotainfo","z":"ee8a06d2.578978","iotaNode":"5b30adc3.aabc54","iotaValue":"8f5132a0390fffbe88819f557b668c2772a65e5a60b19a80d1a3fea726079653","iotaSelect":"tips","name":"nodetips","x":300,"y":100,"wires":[["f97854c9.3a9328"]]},{"id":"dd0eaa94.a96778","type":"inject","z":"ee8a06d2.578978","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["f7084666.bc9e28"]]},{"id":"9d2870c3.936b4","type":"iotamessages","z":"ee8a06d2.578978","iotaNode":"5b30adc3.aabc54","iotaValue":"node-red-contrib-iota-Chrysalis","iotaSelect":"messageFind","name":"find data","x":260,"y":580,"wires":[["ad5703a5.024d5"]]},{"id":"f9163771.57fc98","type":"inject","z":"ee8a06d2.578978","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":90,"y":580,"wires":[["9d2870c3.936b4"]]},{"id":"d1054ec8.456c","type":"iotamessages","z":"ee8a06d2.578978","iotaNode":"5b30adc3.aabc54","iotaValue":"aa548ecb046a946581ea1159a327a0e3608dbbfba1c8b324de4b7589ed2c4a5d","iotaSelect":"messageID","name":"find mess id","x":330,"y":340,"wires":[["f5b90627.42b308"]]},{"id":"3f0c946f.01071c","type":"inject","z":"ee8a06d2.578978","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":110,"y":360,"wires":[["d1054ec8.456c"]]},{"id":"f5b90627.42b308","type":"debug","z":"ee8a06d2.578978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":380,"wires":[]},{"id":"829a9f9a.1e6e4","type":"inject","z":"ee8a06d2.578978","name":"id","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"aa548ecb046a946581ea1159a327a0e3608dbbfba1c8b324de4b7589ed2c4a5d","payloadType":"str","x":110,"y":320,"wires":[["d1054ec8.456c"]]},{"id":"43ca764f.9be638","type":"iotamessages","z":"ee8a06d2.578978","iotaNode":"49d511c1.768c3","iotaValue":"{datos: full}","iotaSelect":"messageSubmit","name":"message submit","x":320,"y":420,"wires":[["f5b90627.42b308","4f891ab2.e38ce4"]]},{"id":"49542bd1.e65f64","type":"inject","z":"ee8a06d2.578978","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":110,"y":400,"wires":[["43ca764f.9be638"]]},{"id":"4f891ab2.e38ce4","type":"iotamessages","z":"ee8a06d2.578978","iotaNode":"5b30adc3.aabc54","iotaValue":"1950826e87f44b0b52f513d22c7703614dc9bcef0aff7f6a8ee6b4d02aa88eb7","iotaSelect":"messageID","name":"search messageID","x":550,"y":480,"wires":[["2a74ed4e.43d412"]]},{"id":"2a74ed4e.43d412","type":"debug","z":"ee8a06d2.578978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":480,"wires":[]},{"id":"d76f550.f706ba8","type":"inject","z":"ee8a06d2.578978","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":330,"y":480,"wires":[["4f891ab2.e38ce4"]]},{"id":"ad5703a5.024d5","type":"function","z":"ee8a06d2.578978","name":"","func":"msg.payload = msg.payload.messageIds;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":580,"wires":[["90e57d72.a79ca"]]},{"id":"90e57d72.a79ca","type":"split","z":"ee8a06d2.578978","name":"","splt":"1","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"payload","x":590,"y":640,"wires":[["95b39257.837ec"]]},{"id":"6d34b836.482fe8","type":"iotainfo","z":"ee8a06d2.578978","iotaNode":"5b30adc3.aabc54","iotaValue":"","iotaSelect":"milestone","name":"milestone","x":300,"y":160,"wires":[["f97854c9.3a9328"]]},{"id":"e0dfa27c.0aa59","type":"inject","z":"ee8a06d2.578978","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20500","payloadType":"str","x":110,"y":160,"wires":[["6d34b836.482fe8"]]},{"id":"50be7bd1.022c94","type":"iotainfo","z":"ee8a06d2.578978","iotaNode":"5b30adc3.aabc54","iotaValue":"20200","iotaSelect":"milestoneUtxoChanges","name":"utxochanges","x":310,"y":220,"wires":[["f97854c9.3a9328"]]},{"id":"45363556.2a141c","type":"inject","z":"ee8a06d2.578978","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":220,"wires":[["50be7bd1.022c94"]]},{"id":"eafea965.e9c0b8","type":"iotamessages","z":"ee8a06d2.578978","iotaNode":"5b30adc3.aabc54","iotaValue":"1950826e87f44b0b52f513d22c7703614dc9bcef0aff7f6a8ee6b4d02aa88eb7","iotaSelect":"messageChildren","name":"childrens","x":260,"y":720,"wires":[["ad5703a5.024d5","74547b36.9ba3b4"]]},{"id":"55cb833a.0acfac","type":"inject","z":"ee8a06d2.578978","name":"id","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1950826e87f44b0b52f513d22c7703614dc9bcef0aff7f6a8ee6b4d02aa88eb7","payloadType":"str","x":90,"y":700,"wires":[["eafea965.e9c0b8"]]},{"id":"718d7e69.c0dee","type":"debug","z":"ee8a06d2.578978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":640,"wires":[]},{"id":"a61e6f1a.0fa94","type":"inject","z":"ee8a06d2.578978","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":90,"y":740,"wires":[["eafea965.e9c0b8"]]},{"id":"74547b36.9ba3b4","type":"function","z":"ee8a06d2.578978","name":"","func":"msg.payload = msg.payload.childrenMessageIds;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":720,"wires":[["90e57d72.a79ca"]]},{"id":"1ce98293.02790d","type":"inject","z":"ee8a06d2.578978","name":"json format","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data1\":\"Rocking\",\"data2\":\"World\",\"data3\":\"in the free\",\"data4\":2021}","payloadType":"json","x":100,"y":440,"wires":[["43ca764f.9be638"]]},{"id":"95b39257.837ec","type":"iotamessages","z":"ee8a06d2.578978","iotaNode":"5b30adc3.aabc54","iotaValue":"fdaefa7a797a653b86cb90f7756e45396ebbf67165eadefb649543e2e6ce0250","iotaSelect":"messageID","name":"search","x":690,"y":580,"wires":[["718d7e69.c0dee"]]},{"id":"5b30adc3.aabc54","type":"iotaserver","host":"http://wi3t-hornet.ddns.net","port":"14265"},{"id":"49d511c1.768c3","type":"iotaserver","host":"https://api.hornet-0.testnet.chrysalis2.com","port":"443"}]