sample_flows/addresses_flows.json
[{"id":"9e39bf46.5e5f1","type":"tab","label":"Iota15-address","disabled":false,"info":""},{"id":"3ca7666a.5fe60a","type":"inject","z":"9e39bf46.5e5f1","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":110,"y":100,"wires":[["57ff774e.3afec8"]]},{"id":"f5a4cb06.8f5cc8","type":"debug","z":"9e39bf46.5e5f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"26754d9e.83f712","type":"inject","z":"9e39bf46.5e5f1","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":110,"y":280,"wires":[["6f0d08f1.ad8078"]]},{"id":"8865a08.b719e6","type":"debug","z":"9e39bf46.5e5f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"7deee79a.42d1c8","type":"inject","z":"9e39bf46.5e5f1","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":110,"y":40,"wires":[["350e4e3c.77ff22"]]},{"id":"57ff774e.3afec8","type":"iotaaddress","z":"9e39bf46.5e5f1","iotaNode":"49d511c1.768c3","iotaAddressFrom":"atoi1qrtfsyxn6l3yt6hprxgwvkq9ph98x6ykk6xaaxyk5wwzpldxmkkac2s3rvy","iotaSelect":"AddressInfo","name":"bech32 addr","x":350,"y":100,"wires":[["f5a4cb06.8f5cc8"]]},{"id":"350e4e3c.77ff22","type":"iotaaddress","z":"9e39bf46.5e5f1","iotaNode":"49d511c1.768c3","iotaAddressFrom":"d69810d3d7e245eae11990e658050dca736896b68dde9896a39c20fda6ddaddc","iotaSelect":"AddressInfo","name":"hex addr","x":340,"y":40,"wires":[["f5a4cb06.8f5cc8"]]},{"id":"6f0d08f1.ad8078","type":"iotaaddress","z":"9e39bf46.5e5f1","iotaNode":"49d511c1.768c3","iotaAddressFrom":"atoi1qrtfsyxn6l3yt6hprxgwvkq9ph98x6ykk6xaaxyk5wwzpldxmkkac2s3rvy","iotaSelect":"AddressOutput","name":"bech32 output","x":360,"y":280,"wires":[["8865a08.b719e6"]]},{"id":"8ec668a6.87ca58","type":"iotaaddress","z":"9e39bf46.5e5f1","iotaNode":"49d511c1.768c3","iotaAddressFrom":"","iotaSelect":"AddressOutput","name":"injected addr output","x":370,"y":400,"wires":[["8865a08.b719e6"]]},{"id":"c54cc8eb.26f688","type":"inject","z":"9e39bf46.5e5f1","name":"inject addr bech","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"atoi1qrtfsyxn6l3yt6hprxgwvkq9ph98x6ykk6xaaxyk5wwzpldxmkkac2s3rvy","payloadType":"str","x":140,"y":160,"wires":[["7aaf821c.c272fc"]]},{"id":"7aaf821c.c272fc","type":"iotaaddress","z":"9e39bf46.5e5f1","iotaNode":"49d511c1.768c3","iotaAddressFrom":"","iotaSelect":"AddressInfo","name":"injected addr","x":350,"y":160,"wires":[["f5a4cb06.8f5cc8"]]},{"id":"4a066321.60dfec","type":"inject","z":"9e39bf46.5e5f1","name":"inject addr hex","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"d69810d3d7e245eae11990e658050dca736896b68dde9896a39c20fda6ddaddc","payloadType":"str","x":140,"y":220,"wires":[["7aaf821c.c272fc"]]},{"id":"ea3b1f66.82cbd","type":"iotaaddress","z":"9e39bf46.5e5f1","iotaNode":"49d511c1.768c3","iotaAddressFrom":"d69810d3d7e245eae11990e658050dca736896b68dde9896a39c20fda6ddaddc","iotaSelect":"AddressOutput","name":"hex output","x":350,"y":340,"wires":[["8865a08.b719e6"]]},{"id":"96535552.39ff38","type":"inject","z":"9e39bf46.5e5f1","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":110,"y":340,"wires":[["ea3b1f66.82cbd"]]},{"id":"a5de163d.9781e8","type":"inject","z":"9e39bf46.5e5f1","name":"inject addr bech","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"atoi1qrtfsyxn6l3yt6hprxgwvkq9ph98x6ykk6xaaxyk5wwzpldxmkkac2s3rvy","payloadType":"str","x":140,"y":400,"wires":[["8ec668a6.87ca58"]]},{"id":"d8e15e2e.4484e","type":"inject","z":"9e39bf46.5e5f1","name":"inject addr hex","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"d69810d3d7e245eae11990e658050dca736896b68dde9896a39c20fda6ddaddc","payloadType":"str","x":140,"y":460,"wires":[["8ec668a6.87ca58"]]},{"id":"49d511c1.768c3","type":"iotaserver","host":"https://api.hornet-0.testnet.chrysalis2.com","port":"443"}]
