sample_flows/sample_flows.json
[
    {
        "id": "ee8a06d2.578978",
        "type": "tab",
        "label": "iota15",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c8ad1ba0.5ba5a8",
        "type": "iotainfo",
        "z": "ee8a06d2.578978",
        "iotaNode": "6eef09b9.42d298",
        "iotaValue": "RHVGKQBYOJLCJQYZEVLN9HL99AAAFKPJTGAD9CFCYCBZNBBOWPQLNJMZCEE9OKYFPLZNJPBDLBQZEMWOX",
        "iotaSelect": "info",
        "name": "nodeinfo",
        "x": 300,
        "y": 40,
        "wires": [
            [
                "f97854c9.3a9328"
            ]
        ]
    },
    {
        "id": "554f0450.6f4e8c",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "c8ad1ba0.5ba5a8"
            ]
        ]
    },
    {
        "id": "f97854c9.3a9328",
        "type": "debug",
        "z": "ee8a06d2.578978",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "f7084666.bc9e28",
        "type": "iotainfo",
        "z": "ee8a06d2.578978",
        "iotaNode": "327a8a79.007b26",
        "iotaValue": "8f5132a0390fffbe88819f557b668c2772a65e5a60b19a80d1a3fea726079653",
        "iotaSelect": "tips",
        "name": "nodetips",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "f97854c9.3a9328"
            ]
        ]
    },
    {
        "id": "dd0eaa94.a96778",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "f7084666.bc9e28"
            ]
        ]
    },
    {
        "id": "9d2870c3.936b4",
        "type": "iotamessages",
        "z": "ee8a06d2.578978",
        "iotaNode": "327a8a79.007b26",
        "iotaValue": "node-red-contrib-iota-Chrysalis",
        "iotaSelect": "messageFind",
        "name": "find data",
        "x": 260,
        "y": 640,
        "wires": [
            [
                "ad5703a5.024d5"
            ]
        ]
    },
    {
        "id": "f9163771.57fc98",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "9d2870c3.936b4"
            ]
        ]
    },
    {
        "id": "d1054ec8.456c",
        "type": "iotamessages",
        "z": "ee8a06d2.578978",
        "iotaNode": "327a8a79.007b26",
        "iotaValue": "395b219ccaa04bb4883e27256ce98efcd73b4171228ab9c1b207e9f6636cb000",
        "iotaSelect": "messageID",
        "name": "find mess id",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "f5b90627.42b308"
            ]
        ]
    },
    {
        "id": "3f0c946f.01071c",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "d1054ec8.456c"
            ]
        ]
    },
    {
        "id": "f5b90627.42b308",
        "type": "debug",
        "z": "ee8a06d2.578978",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "829a9f9a.1e6e4",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "id",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3e12b2e2ae3aac73a9349df33bd76429ea4c46bc65756c04e6c41fad5bda37e9",
        "payloadType": "str",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "d1054ec8.456c"
            ]
        ]
    },
    {
        "id": "43ca764f.9be638",
        "type": "iotamessages",
        "z": "ee8a06d2.578978",
        "iotaNode": "327a8a79.007b26",
        "iotaValue": "datos datos datos",
        "iotaSelect": "messageSubmit",
        "name": "message submit",
        "x": 320,
        "y": 420,
        "wires": [
            [
                "f5b90627.42b308",
                "4f891ab2.e38ce4"
            ]
        ]
    },
    {
        "id": "49542bd1.e65f64",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "43ca764f.9be638"
            ]
        ]
    },
    {
        "id": "4f891ab2.e38ce4",
        "type": "iotamessages",
        "z": "ee8a06d2.578978",
        "iotaNode": "327a8a79.007b26",
        "iotaValue": "0f7fbb59e43ff552c32a663484d25a818915aa933e185f97462227b6c805e3fe",
        "iotaSelect": "messageID",
        "name": "search messageID",
        "x": 550,
        "y": 480,
        "wires": [
            [
                "2a74ed4e.43d412"
            ]
        ]
    },
    {
        "id": "2a74ed4e.43d412",
        "type": "debug",
        "z": "ee8a06d2.578978",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "d76f550.f706ba8",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0f7fbb59e43ff552c32a663484d25a818915aa933e185f97462227b6c805e3fe",
        "payloadType": "str",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "4f891ab2.e38ce4"
            ]
        ]
    },
    {
        "id": "ad5703a5.024d5",
        "type": "function",
        "z": "ee8a06d2.578978",
        "name": "",
        "func": "msg.payload = msg.payload.messageIds;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "90e57d72.a79ca"
            ]
        ]
    },
    {
        "id": "90e57d72.a79ca",
        "type": "split",
        "z": "ee8a06d2.578978",
        "name": "",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "payload",
        "x": 590,
        "y": 700,
        "wires": [
            [
                "95b39257.837ec"
            ]
        ]
    },
    {
        "id": "6d34b836.482fe8",
        "type": "iotainfo",
        "z": "ee8a06d2.578978",
        "iotaNode": "327a8a79.007b26",
        "iotaValue": "",
        "iotaSelect": "milestone",
        "name": "milestone",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "f97854c9.3a9328"
            ]
        ]
    },
    {
        "id": "e0dfa27c.0aa59",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "450391",
        "payloadType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "6d34b836.482fe8"
            ]
        ]
    },
    {
        "id": "50be7bd1.022c94",
        "type": "iotainfo",
        "z": "ee8a06d2.578978",
        "iotaNode": "327a8a79.007b26",
        "iotaValue": "450391",
        "iotaSelect": "milestoneUtxoChanges",
        "name": "utxochanges",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "f97854c9.3a9328"
            ]
        ]
    },
    {
        "id": "45363556.2a141c",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "50be7bd1.022c94"
            ]
        ]
    },
    {
        "id": "eafea965.e9c0b8",
        "type": "iotamessages",
        "z": "ee8a06d2.578978",
        "iotaNode": "327a8a79.007b26",
        "iotaValue": "1950826e87f44b0b52f513d22c7703614dc9bcef0aff7f6a8ee6b4d02aa88eb7",
        "iotaSelect": "messageChildren",
        "name": "childrens",
        "x": 260,
        "y": 780,
        "wires": [
            [
                "ad5703a5.024d5",
                "74547b36.9ba3b4"
            ]
        ]
    },
    {
        "id": "55cb833a.0acfac",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "id",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1950826e87f44b0b52f513d22c7703614dc9bcef0aff7f6a8ee6b4d02aa88eb7",
        "payloadType": "str",
        "x": 90,
        "y": 760,
        "wires": [
            [
                "eafea965.e9c0b8"
            ]
        ]
    },
    {
        "id": "718d7e69.c0dee",
        "type": "debug",
        "z": "ee8a06d2.578978",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 700,
        "wires": []
    },
    {
        "id": "a61e6f1a.0fa94",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "eafea965.e9c0b8"
            ]
        ]
    },
    {
        "id": "74547b36.9ba3b4",
        "type": "function",
        "z": "ee8a06d2.578978",
        "name": "",
        "func": "msg.payload = msg.payload.childrenMessageIds;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 780,
        "wires": [
            [
                "90e57d72.a79ca"
            ]
        ]
    },
    {
        "id": "1ce98293.02790d",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "json payload",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"data1\":\"Rocking\",\"data2\":\"World\",\"data3\":\"in the free\",\"data4\":2021}",
        "payloadType": "json",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "43ca764f.9be638"
            ]
        ]
    },
    {
        "id": "95b39257.837ec",
        "type": "iotamessages",
        "z": "ee8a06d2.578978",
        "iotaNode": "327a8a79.007b26",
        "iotaValue": "fdaefa7a797a653b86cb90f7756e45396ebbf67165eadefb649543e2e6ce0250",
        "iotaSelect": "messageID",
        "name": "search",
        "x": 690,
        "y": 640,
        "wires": [
            [
                "718d7e69.c0dee"
            ]
        ]
    },
    {
        "id": "1c04e91e.7a47a7",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "4f891ab2.e38ce4"
            ]
        ]
    },
    {
        "id": "241e7936.d47556",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "json format",
        "props": [
            {
                "p": "payload.messageToSubmit",
                "v": "{\"data1\":\"Rocking\",\"data2\":\"World\",\"data3\":\"in the free\",\"data4\":2021}",
                "vt": "json"
            },
            {
                "p": "payload.messageIndex",
                "v": "node-red-personalized-index-payload",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "43ca764f.9be638"
            ]
        ]
    },
    {
        "id": "f255181e.917428",
        "type": "inject",
        "z": "ee8a06d2.578978",
        "name": "index to find",
        "props": [
            {
                "p": "payload.messageToFind",
                "v": "node-red-personalized-index-payload",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "9d2870c3.936b4"
            ]
        ]
    },
    {
        "id": "6eef09b9.42d298",
        "type": "iotaserver",
        "host": "https://chrysalis-nodes.iota.org",
        "port": "443"
    },
    {
        "id": "327a8a79.007b26",
        "type": "iotaserver",
        "host": "https://api.lb-0.testnet.chrysalis2.com",
        "port": "443"
    }
]
