sample_flows/transfers_flows.json
[
    {
        "id": "d2a84f3c.5a635",
        "type": "tab",
        "label": "Iota15-transfers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "77d86496.f59bac",
        "type": "iotatransfers",
        "z": "d2a84f3c.5a635",
        "iotaNode": "327a8a79.007b26",
        "iotaSeedKey": "d67d746a47ae3f9e82f6bc56271a8be80592fa61dd5b451c109611823086b8419fa67a1c06a9a0ce05bca807598f0b3daab53abe6a845b90a778c46e9136f7d0",
        "iotaAddressTo": "atoi1qzmpl72md0hndgwqumjzffh2rq75euvy6uksv2r4hs6nn9ms9t0r5v2zkr2",
        "iotaValue": "2000000",
        "iotaMessage": "message from node-red",
        "iotaSelect": "SendTokens",
        "name": "",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "f2ca1a38.0806b8"
            ]
        ]
    },
    {
        "id": "6a7f38cf.ee3708",
        "type": "inject",
        "z": "d2a84f3c.5a635",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "77d86496.f59bac"
            ]
        ]
    },
    {
        "id": "11c98f30.26e961",
        "type": "inject",
        "z": "d2a84f3c.5a635",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sending from node-red",
        "payload": "node-red-contrib-iota-chrysalis-personalized",
        "payloadType": "str",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "a05794ce.02b0f8"
            ]
        ]
    },
    {
        "id": "440e6612.d0a3b8",
        "type": "debug",
        "z": "d2a84f3c.5a635",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "a05794ce.02b0f8",
        "type": "iotatransfers",
        "z": "d2a84f3c.5a635",
        "iotaNode": "327a8a79.007b26",
        "iotaSeedKey": "d67d746a47ae3f9e82f6bc56271a8be80592fa61dd5b451c109611823086b8419fa67a1c06a9a0ce05bca807598f0b3daab53abe6a845b90a778c46e9136f7d0",
        "iotaAddressTo": "atoi1qzmpl72md0hndgwqumjzffh2rq75euvy6uksv2r4hs6nn9ms9t0r5v2zkr2",
        "iotaValue": "3000000",
        "iotaMessage": "sending tokens from node-red",
        "iotaSelect": "SendTokens",
        "name": "transfiere",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "440e6612.d0a3b8"
            ]
        ]
    },
    {
        "id": "baf49a4f.5f2a38",
        "type": "iotatransfers",
        "z": "d2a84f3c.5a635",
        "iotaNode": "327a8a79.007b26",
        "iotaSeedKey": "d67d746a47ae3f9e82f6bc56271a8be80592fa61dd5b451c109611823086b8419fa67a1c06a9a0ce05bca807598f0b3daab53abe6a845b90a778c46e9136f7d0",
        "iotaAddressTo": "",
        "iotaValue": "",
        "iotaMessage": "",
        "iotaSelect": "GetBalanceSeed",
        "name": "getBalance",
        "x": 370,
        "y": 40,
        "wires": [
            [
                "d676bf36.68af8"
            ]
        ]
    },
    {
        "id": "ec65ee78.1d8d6",
        "type": "inject",
        "z": "d2a84f3c.5a635",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "baf49a4f.5f2a38"
            ]
        ]
    },
    {
        "id": "d676bf36.68af8",
        "type": "debug",
        "z": "d2a84f3c.5a635",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "f2ca1a38.0806b8",
        "type": "debug",
        "z": "d2a84f3c.5a635",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "2337ee0e.539b72",
        "type": "iotatransfers",
        "z": "d2a84f3c.5a635",
        "iotaNode": "327a8a79.007b26",
        "iotaSeedKey": "d67d746a47ae3f9e82f6bc56271a8be80592fa61dd5b451c109611823086b8419fa67a1c06a9a0ce05bca807598f0b3daab53abe6a845b90a778c46e9136f7d0",
        "iotaAddressTo": "",
        "iotaValue": "",
        "iotaMessage": "",
        "iotaSelect": "NewAddresses",
        "name": "newAddresses",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "bbeca2bf.8e7b7"
            ]
        ]
    },
    {
        "id": "bdfc53bd.ec8ce",
        "type": "inject",
        "z": "d2a84f3c.5a635",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "2337ee0e.539b72"
            ]
        ]
    },
    {
        "id": "bbeca2bf.8e7b7",
        "type": "debug",
        "z": "d2a84f3c.5a635",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "7b269a0c.52cbb4",
        "type": "iotatransfers",
        "z": "d2a84f3c.5a635",
        "iotaNode": "327a8a79.007b26",
        "iotaSeedKey": "noderedcontribiotachrysalis",
        "iotaAddressTo": "",
        "iotaValue": 0,
        "iotaMessage": "message from node-red",
        "iotaSelect": "NewAddresses",
        "name": "newAddress for random SeedKey",
        "x": 520,
        "y": 360,
        "wires": [
            [
                "1ff58379.e6508d"
            ]
        ]
    },
    {
        "id": "d8506bf7.364608",
        "type": "inject",
        "z": "d2a84f3c.5a635",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "7b269a0c.52cbb4"
            ]
        ]
    },
    {
        "id": "1ff58379.e6508d",
        "type": "debug",
        "z": "d2a84f3c.5a635",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "30194963.7effd6",
        "type": "inject",
        "z": "d2a84f3c.5a635",
        "name": "inject json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"seedkey\":\"d67d746a47ae3f9e82f6bc56271a8be80592fa61dd5b451c109611823086b8419fa67a1c06a9a0ce05bca807598f0b3daab53abe6a845b90a778c46e9136f7d0\",\"num_addresses\":3}",
        "payloadType": "json",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "7b269a0c.52cbb4"
            ]
        ]
    },
    {
        "id": "c71691da.e9acd",
        "type": "iotatransfers",
        "z": "d2a84f3c.5a635",
        "iotaNode": "327a8a79.007b26",
        "iotaSeedKey": "",
        "iotaAddressTo": "",
        "iotaValue": 0,
        "iotaMessage": "",
        "iotaSelect": "GetBalanceSeed",
        "name": "balance",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "1ff58379.e6508d"
            ]
        ]
    },
    {
        "id": "a9776b2f.2a16a8",
        "type": "inject",
        "z": "d2a84f3c.5a635",
        "name": "inject json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "d67d746a47ae3f9e82f6bc56271a8be80592fa61dd5b451c109611823086b8419fa67a1c06a9a0ce05bca807598f0b3daab53abe6a845b90a778c46e9136f7d0",
        "payloadType": "str",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "c71691da.e9acd"
            ]
        ]
    },
    {
        "id": "d9ac3f0e.7a58d",
        "type": "inject",
        "z": "d2a84f3c.5a635",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "noderedcontribiotachrysalis",
        "payloadType": "str",
        "x": 230,
        "y": 520,
        "wires": [
            [
                "c71691da.e9acd"
            ]
        ]
    },
    {
        "id": "e3fe737b.28ec1",
        "type": "inject",
        "z": "d2a84f3c.5a635",
        "name": "inject json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sending from node-red",
        "payload": "{\"seedkey\":\"d67d746a47ae3f9e82f6bc56271a8be80592fa61dd5b451c109611823086b8419fa67a1c06a9a0ce05bca807598f0b3daab53abe6a845b90a778c46e9136f7d0\",\"addressto\":\"atoi1qzmpl72md0hndgwqumjzffh2rq75euvy6uksv2r4hs6nn9ms9t0r5v2zkr2\",\"amounttosend\":1000000,\"messagekey\":\"node-red-contrib-iota-chrysalis-personalized\",\"messagedata\":\"data data data data\"}",
        "payloadType": "json",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "a05794ce.02b0f8"
            ]
        ]
    },
    {
        "id": "327a8a79.007b26",
        "type": "iotaserver",
        "host": "https://api.lb-0.testnet.chrysalis2.com",
        "port": "443"
    }
]
